{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
{% block content %}
    <div class="row">
        {% if products %}
            {% for p in products %}
                <div class="col-md-3" id="product">
                    <div class="border bg-light rounded p-1" id="productFrame">
                        <a href="{% url 'store:product by id' pk=p.id %}">
                            <span class="link-spanner"></span>
                        </a>
                        <img src="{% static "store/img" %}/{{ p.art_id }}.jpg" class="img-fluid" alt="{{ p.title }}"/>
                        <p id="productTitle">{{ p.title }}</p>
                        <p id="productPrice">${{ p.price }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No products are available</p>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>